@use "_root";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .navbar-container{
    padding: 10px 10%;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .logo{
    width: 140px;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: green;
    color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  
  }
  nav ul li a:hover::after{
  width: 100%;
  }
  
  
  nav .fas{
    display: none;
  }
  
  
  @media only  screen and (max-width:600px) {
    nav .fas{
      display: block;
      font-size: 25px;
    }
  
    nav ul {
      background: blue;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
  
    nav ul li{
      display: block;
      margin: 25px;
    }
  
    nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  }

  // ====================================Why Prime==============================================
  .why_prime_mentorship_main_container {
    width: 90%; /* Set your desired width */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Add padding to create space */
    margin-top: 80px;
    display: none;
  }
  
  .why_prime_mentorship_content {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  
  .mentorship_video {
    flex: 1;
    max-width: 50%; /* Adjust as needed */
    margin-right: 20px; /* Create space between video and text */
    video {
      width: 100%;
      height: auto;
      max-width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  
  .text_container {
    flex: 1;
    margin-left: 0;


    h1{
      font-family: 'Bricolage Grotesque', sans-serif;
      font-size: 45px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0; /* Remove default margin */
      margin-top: 25px;
 

      h2{
        font-family: 'Bricolage Grotesque', sans-serif;
        font-size: 45px;
      }
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px; /* Add space between list items */
        i {
          margin-right: 10px;
        }
      }
      p {
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 15px;
      }
    }


    .free{
      color: green;
      font-style: italic;
    }
    .buttons-container {
      display: flex;
      margin-top: 20px; // Adjust as needed
      font-family: 'Bricolage Grotesque', sans-serif;
      font-family: 'Roboto', sans-serif;
    }
  
    .button-1 {
      padding: 10px 15px;
      background-color: green;
      color: white;
      border: none;
      border-radius: 30px ;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
    }
    .button-2{
      padding: 10px 20px;
      color: black;
      border: none;
      border-radius: 30px ;
      cursor: pointer;
      margin-left: 20px;
      border: 2px solid black;
      font-size: 16px;
      font-weight: 500;
      background: transparent;
    }
  }

 
  



  /* Media Query for Tablet and Larger Screens */
@media screen and (max-width: 768px) {
  .why_prime_mentorship_main_container {
    flex-direction: column; /* Revert to row layout */
    width: 100%;
    display: block;
  }

  .mentorship_video {
    max-width: 100%; /* Adjust as needed */
    margin-right: 20px; /* Create space between video and text */
    width: 100%;
  }
}
.why_prime_mentorship_content {
  /* Existing styles... */
  flex-direction: column; /* Switch to column layout for mobile */
  display: block;
}

.mentorship_video {
  /* Existing styles... */
  max-width: 100%; /* Take full width on mobile */
  margin-right: 0; /* No margin on mobile */
  video {
    /* Existing styles... */
    height: auto; /* Allow video to adjust its height */
    width: 100%;
  }
}

.text_container {
  /* Existing styles... */
  margin-left: 0; /* No margin on mobile */

  ul{
    h2{
      font-family: 'Bricolage Grotesque', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
    }
  }

  .button-1{
    padding: 10px 100px;
    margin-top: 20px;
  }

  .button-2{
    display: none;
  }

  p{
    margin-bottom: 25px;
  }
  i{
    color: green;
  }

}




// ==============================What's Prime Mentorship=====================



.mentorship-section {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: row; /* Default direction: row */
}
.text-content {
  flex: 1;
}

.text-content h2 {
  margin-bottom: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.text-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444444;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .fas{
font-size: 20px;
margin-left: 5px;
}

/* Update the button styles */
.buttons button {
  padding: 10px 20px;
  color: #fff; /* Text color for better contrast */
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
}


.image-container {
  flex: 1;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}


.mentorship-span{
  color:  #FF8250;
  font-style: italic;
}




@media (max-width: 768px) {
  /* Apply this style only for screens with a maximum width of 768px */
  .mentorship-section {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .text-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444444;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
 .buttons .btn{
    padding: 10px 20px;
    background-color:  #FFA07A;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .image-container {
    flex: 1;
    text-align: center;
    margin-top: auto; /* Push the image to the bottom */
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
}



// ========================2nd Description===============

.second-mentorship-section {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: row; /* Default direction: row */
  margin-top: 5%;
}
.second-text-content {
  padding-left: 30px;
  flex: 1;
}

.second-text-content h2 {
  margin-bottom: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.second-text-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444444;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .fas{
font-size: 20px;
margin-left: 5px;
}

/* Update the button styles */
.buttons button {
  padding: 10px 20px;
  color: #fff; /* Text color for better contrast */
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
}


.second-image-container {
  flex: 1;
  text-align: center;
}

.second-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}


.second-mentorship-span{
  color: #408040;
  font-style: italic;
}




@media (max-width: 768px) {
  /* Apply this style only for screens with a maximum width of 768px */
  .second-mentorship-section {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .second-text-content {
    flex: 1;
  }
  
  .second-text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .second-text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444444;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .second-image-container {
    flex: 1;
    text-align: center;
    margin-top: auto; /* Push the image to the bottom */
  }
  
  .second-image-container img {
    max-width: 100%;
    height: auto;
  }
  
}



// ===========================Third Box================================
.third-mentorship-section {
  display: flex;
  align-items: center;
  padding: 50px;
  flex-direction: row; /* Default direction: row */
  margin-top: 5%;
}
.third-text-content {
  flex: 1;
}

.third-text-content h2 {
  margin-bottom: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.third-text-content p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444444;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons .fas{
font-size: 20px;
margin-left: 5px;
}

/* Update the button styles */
.buttons button {
  padding: 10px 20px;
  color: #fff; /* Text color for better contrast */
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
}


.third-image-container {
  flex: 1;
  text-align: center;
}

.third-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}


.third-mentorship-span{
  color:  #DAA520;
  font-style: italic;
}




@media (max-width: 768px) {
  /* Apply this style only for screens with a maximum width of 768px */
  .third-mentorship-section {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .third-text-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .third-text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .third-text-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444444;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
 .buttons .btn{
    padding: 10px 20px;
    background-color:  #FFA07A;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .third-image-container {
    flex: 1;
    text-align: center;
    margin-top: auto; /* Push the image to the bottom */
  }
  
  .third-image-container img {
    max-width: 100%;
    height: auto;
  }
  
}

// =======================How to get Started===========================

  h1{
    margin-top: 30px;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
  font-family: 'Bricolage Grotesque', sans-serif;
  }


.row_container h1::after{
  content: "";
  background: var(--primary);
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);

}

.rows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}

.services {
  text-align: left;
  padding: 70px 30px; /* Increase the height of each service box */
  border-radius: 5px;
  font-size: 16px; /* Adjust the font size for h2 and p */
  cursor: pointer;
  background-color: #f9f9f9;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  
}

.services i {
  font-size: 40px;
  margin-bottom: 40px;
  color: #408040;
}

.services h2 {
  margin-bottom: 20px;
  font-size: 30px; /* Adjust the font size for h2 */
  font-weight: 600;
}

.services p {
  font-size: 14px; /* Adjust the font size for p */
  text-align: left;
  margin-top: 30px;
  color: rgb(37, 36, 36);
  line-height: 20px;
}

.services:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-step{
  color: black;
  text-decoration: none;
  position: relative;
  top: 30px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.btn-step:hover{
  font-weight: 600;
}



/* ============footer================== */
.footer{
  margin-top: 50%;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-rows{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: blue;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .online-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .online-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

/* -----------------------------------Footer--------------------------------------- */
