

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .navbar-container{
    padding: 10px 10%;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .logo{
    width: 140px;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  
  }
  nav ul li a:hover::after{
  width: 100%;
  }
  
  
  nav .fas{
    display: none;
  }
  
  @media only  screen and (max-width:600px) {
    nav .fas{
      display: block;
      font-size: 25px;
    }
  
    nav ul {
      background: blue;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
  
    nav ul li{
      display: block;
      margin: 25px;
    }
  
    nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  }



  /* ============footer================== */
.footer{
  margin-top: 50%;
}
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-rows{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: green;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .online-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .online-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

/* -----------------------------------Footer--------------------------------------- */
