// Navigation Bar styles

@use "_root";
nav {
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 30px;
  position: relative;

  h1 {
    font-size: 24px;
    color: black;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 20px;
      font-family: sans-serif;

      a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: grey;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: width 0.3s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.header_right_form {
  position: relative;
  width: var(--input-form-width);
}

.header_right_form input {
  height: var(--input-height);
  border-radius: var(--input-radius);
  border: 1px solid var(--grey-light);
  outline: none;
  width: 100%;
  padding-left: 5rem;
}

.header_right_form input::placeholder {
  font-weight: 700;
  padding: 0.8rem;
}

.header_right_form_input_icons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  left: 16px;
}

.header_right_form_input_icons img:nth-child(1) {
  width: 20px;
}

.header_right_form_input_icons img:nth-child(2) {
  width: 12px;
}

.btn-header{
  background-color: black;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid black;
}


hr{
  position: relative;
  left: 400px;
  color: rgba(223, 215, 215, 0.45);
  align-self: center;
  justify-content: center;
  max-width: 50%;
  height: 0.5px;
  
}
.btn {
  background-color: transparent;
  color: black;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid black;
  margin-top: 15px;
}
