// Variables for reusability
$primaryColor: #fff;
$secondaryColor:black;
$hoverColor: black;

@use "-root";

@use "-landing";


// Basic CSS reset for cleaner styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

// Navigation Bar styles
nav {
  background-color: $primaryColor;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 30px;

  h1 {
    font-size: 24px;
    color: black;
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 20px;

      a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: $hoverColor;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: width 0.3s;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

// Button styles
.btn {
  background-color: transparent;
  color: black;
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid black;

  &:hover {
    background-color: darken(black, 10%);
    color: #fff;
  }
}








